<!DOCTYPE html>
<html>
<head>
  <title>CIS 4339 Homework - JQuery and CSS</title>
  <link data-turbolinks-track="true" href="/assets/application-d7b965b88cf5892669c70b690692bbe8.css" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/application-1516d0fae465a5f251b8cdf955376696.js"></script>
  <meta content="authenticity_token" name="csrf-param" />
  <meta content="QIxo79Wv5huo7rLSrlja6d7HI3se6M/sLwcAItSNyCM=" name="csrf-token" />
</head>

<script type="text/javascript">
    div = {
        show: function(elem) {
            document.getElementById('description').style.visibility = 'visible';
        },
        hide: function(elem) {
            document.getElementById('description').style.visibility = 'hidden';
        }
    }
</script>


<body>

<h1 class="centered_fancy">Dashboard</h1>



<div class="welcome">

  <div id="welcome">

    <h2 id="welcome-message">Welcome to the Inventory System</h2>

    <p>
      You have <%= SalesItem.count %> items defined in the system.
    </p>

    <p>The <span class="average" onMouseOver="div.show('description')" onMouseOut="div.hide('description')">average</span>
      price of a sales item is <%= number_to_currency (SalesItem.sum(:price) / SalesItem.count) %>.</p>


  </div>
</div>
<p id="description" >The average is the sum divided by the count.</p>

</body></html>
