/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



h1.centered_fancy {
    color: green;
    text-align: center;
    text-decoration: underline;
}

div.welcome {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
    padding: 8px;
    width: 60%;
    border-radius: 8px;
}

table.tables {
    margin: 0px;
    padding: 0px;
    width: 50%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid black;
    border-collapse: collapse;
    webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

thead.theads {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr.trs {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody.tbodies {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}