<h1>Categories</h1>

<table class="tables">
  <thead class="theads">
    <tr class="trs">
      <th>Name</th>
      <th>Notes</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody class="tbodies">
    <% @categories.each do |category| %>
      <tr class="trs">
        <td><%= category.name %></td>
        <td><%= category.notes %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
